html, body {
    height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 82px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#board-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

#player-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.x {
    color: #F8333C;
}

.o {
    color: #2B9EB3;
}

.board-slot {
    border-radius: 20px;
    background-color: white;
    border: 4px solid black;
    font-size: 150px;
}

.element {
    background-color: #ffffff;
    height: 120px;
    width: 120px;
    font-size: 100px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.5;
    border-radius: 20px;
    border-color: darkgray;
}   

.element:hover {
    opacity: 1;
}

.hidden {
    display: none !important; 
}

.green {
    background-color: green !important;
}

.orange {
    background-color: orange !important;
}